.titletext{
  margin: 19.5px auto;
  height: 195px;
  line-height: 195px;
  text-align: center;
  background-color: #E0F4F5;
  color: #00A4AC;
  font-size: 58.5px;
}

/* 参考文献
https://www.e-sanwa.co.jp/sbs/column/20180323/
*/

nav ul{
  display: table;
  margin: 0 auto;
  padding: 0 ;
  width: 80%;
  text-align: center;
}
nav li{
  display: table-cell;
  min-width: 50px;
}
nav a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
}
nav li.current{
  border-bottom: 3px solid #40BBC1;
}
nav li:hover{
  color: #E7DA66;
  border-bottom: 3px solid #FFD98C;
}

/* 参考文献
https://abhp.net/hp/HP_CSS_500000.html
*/

h1{
  font-size:139%;
  color: #00848A;
  background-color: #FFFFFF;
}

/* 参考文献
https://namagomi-days.com/ul-color/
*/

.list ul li{
  color: #00A4AC;
}

.list ul li span{
  color: #000000;
}